<a href="https://colab.research.google.com/github/bhargav23/PythonPrograms/blob/main/Urban_Data_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import glob
import xml.etree.ElementTree as ET
import pandas as pd
import tensorflow as tf

In [ ]:
!git clone --q https://github.com/tensorflow/models.git

In [ ]:
# navigate to /models/research folder to compile protos

%cd models/research

/content/models/research

In [ ]:
# Compile protos.

!protoc object_detection/protos/*.proto --python_out=.

In [ ]:
# Install TensorFlow Object Detection API.

!cp object_detection/packages/tf2/setup.py .
!python -m pip install .

In [ ]:
! pip install -q kaggle

In [ ]:
#from google.colab import files

#files.upload()

In [ ]:
cd /content

/content

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp /content/drive/MyDrive/Pollution/kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d abhranta/urban-visual-pollution-dataset

Downloading urban-visual-pollution-dataset.zip to /content
100% 2.17G/2.18G [00:19<00:00, 156MB/s]
100% 2.18G/2.18G [00:19<00:00, 120MB/s]

In [ ]:
pwd

'/content'

In [ ]:
ls

drive/  models/  sample_data/  urban-visual-pollution-dataset.zip

In [ ]:
!mkdir data

In [ ]:
cd /content/data

/content/data

In [ ]:
!unzip /content/urban-visual-pollution-dataset.zip

In [ ]:
cd /content/data

/content/data

In [ ]:
#!rm urban-visual-pollution-dataset.zip

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/data/train.csv")

In [ ]:
import pandas as pd
import numpy as np
import json
import os
import cv2
from ast import literal_eval
import matplotlib
import matplotlib.pyplot as plt
from zipfile import ZipFile

In [ ]:
df.head()

,class,image_path,name,xmax,xmin,ymax,ymin
0,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,797.0,701.0,262.0,211.0
1,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,932.0,786.0,329.0,238.0
2,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,736.0,657.0,275.0,229.0
3,7.0,ea906a663da6321bcef78be4b7d1afff.jpg,BAD_BILLBOARD,986.0,786.0,136.0,0.0
4,8.0,1c7d48005a12d1b19261b8e71df7cafe.jpg,SAND_ON_ROAD,667.0,549.0,228.0,179.0

In [ ]:
imgpath = "/content/data/images/images/"

In [ ]:
def get_img_shape(im):
  img = cv2.imread(imgpath+im,0)
  imgshape = list(img.shape)
  return imgshape

In [ ]:
df['imgsize'] = df['image_path'].apply(get_img_shape)

In [ ]:
df.head()

,class,image_path,name,xmax,xmin,ymax,ymin,imgsize
0,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,797.0,701.0,262.0,211.0,"[1080, 1920]"
1,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,932.0,786.0,329.0,238.0,"[1080, 1920]"
2,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,736.0,657.0,275.0,229.0,"[1080, 1920]"
3,7.0,ea906a663da6321bcef78be4b7d1afff.jpg,BAD_BILLBOARD,986.0,786.0,136.0,0.0,"[1080, 1920]"
4,8.0,1c7d48005a12d1b19261b8e71df7cafe.jpg,SAND_ON_ROAD,667.0,549.0,228.0,179.0,"[1080, 1920]"

In [ ]:
df.name.unique()

array(['GARBAGE', 'BAD_BILLBOARD', 'SAND_ON_ROAD', 'GRAFFITI', 'POTHOLES',
       'CLUTTER_SIDEWALK', 'CONSTRUCTION_ROAD', 'BROKEN_SIGNAGE',
       'UNKEPT_FACADE', 'FADED_SIGNAGE', 'BAD_STREETLIGHT'], dtype=object)

In [ ]:
df[['width','height']] = pd.DataFrame(df.imgsize.tolist(), index= df.index)

In [ ]:
df.to_csv('/content/drive/MyDrive/Pollution/data.csv')

In [ ]:
df.head()

,class,image_path,name,xmax,xmin,ymax,ymin,imgsize,width,height
0,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,797.0,701.0,262.0,211.0,"[1080, 1920]",1080,1920
1,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,932.0,786.0,329.0,238.0,"[1080, 1920]",1080,1920
2,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,736.0,657.0,275.0,229.0,"[1080, 1920]",1080,1920
3,7.0,ea906a663da6321bcef78be4b7d1afff.jpg,BAD_BILLBOARD,986.0,786.0,136.0,0.0,"[1080, 1920]",1080,1920
4,8.0,1c7d48005a12d1b19261b8e71df7cafe.jpg,SAND_ON_ROAD,667.0,549.0,228.0,179.0,"[1080, 1920]",1080,1920

In [ ]:
#df = df.drop(['imgsize'], axis=1)

In [ ]:
#df = df.drop(['class'], axis=1)

CSV File format

filename,width,height,class,xmin,ymin,xmax,ymax

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Pollution/data.csv")

In [ ]:
df.rename(columns = {'image_path':'filename'}, inplace = True)

In [ ]:
df.rename(columns = {'class':'classno'}, inplace = True)

In [ ]:
df.rename(columns = {'name':'class'}, inplace = True)

In [ ]:
df = df[['filename','width','height','class','xmin','ymin','xmax','ymax','classno']]

In [ ]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,classno
0,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,701.0,211.0,797.0,262.0,3.0
1,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,786.0,238.0,932.0,329.0,3.0
2,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,657.0,229.0,736.0,275.0,3.0
3,ea906a663da6321bcef78be4b7d1afff.jpg,1080,1920,BAD_BILLBOARD,786.0,0.0,986.0,136.0,7.0
4,1c7d48005a12d1b19261b8e71df7cafe.jpg,1080,1920,SAND_ON_ROAD,549.0,179.0,667.0,228.0,8.0

In [ ]:
df.to_csv('/content/drive/MyDrive/Pollution/data.csv')

In [ ]:
#df = pd.read_csv("/content/drive/MyDrive/Pollution/data.csv")

In [ ]:
df['class'].unique()

array(['GARBAGE', 'BAD_BILLBOARD', 'SAND_ON_ROAD', 'GRAFFITI', 'POTHOLES',
       'CLUTTER_SIDEWALK', 'CONSTRUCTION_ROAD', 'BROKEN_SIGNAGE',
       'UNKEPT_FACADE', 'FADED_SIGNAGE', 'BAD_STREETLIGHT'], dtype=object)

In [ ]:
#!python /content/drive/MyDrive/Pollution/generate_tfrecord.py -h

In [ ]:
#!python /content/drive/MyDrive/Pollution/generate_tfrecord.py \
#  --csv_path=/content/drive/MyDrive/Pollution/data.csv \
#  --image_dir=/content/data/images/images \
#  --output_path=/content/data/train.record

In [ ]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,classno
0,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,701.0,211.0,797.0,262.0,3.0
1,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,786.0,238.0,932.0,329.0,3.0
2,4a48c42c9579ec0399e6c5a3e825e765.jpg,1080,1920,GARBAGE,657.0,229.0,736.0,275.0,3.0
3,ea906a663da6321bcef78be4b7d1afff.jpg,1080,1920,BAD_BILLBOARD,786.0,0.0,986.0,136.0,7.0
4,1c7d48005a12d1b19261b8e71df7cafe.jpg,1080,1920,SAND_ON_ROAD,549.0,179.0,667.0,228.0,8.0

In [ ]:
df.shape

(19950, 9)

In [ ]:
testdf=df.sample(frac=0.2)

In [ ]:
traindf = df.drop(testdf.index)

In [ ]:
testdf.shape

(3990, 9)

In [ ]:
traindf.shape

(15960, 9)

In [ ]:
testdf.to_csv('/content/drive/MyDrive/Pollution/test.csv')

In [ ]:
traindf.to_csv('/content/drive/MyDrive/Pollution/train.csv')

In [ ]:
!python /content/drive/MyDrive/Pollution/1.py --csv_input=/content/drive/MyDrive/Pollution/train.csv \
  --image_dir=/content/data/images/images \
  --output_path=/content/drive/MyDrive/Pollution/train.record

2023-03-13 06:08:02.371433: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib/python3.9/dist-packages/cv2/../../lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-13 06:08:02.371587: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib/python3.9/dist-packages/cv2/../../lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-13 06:08:02.371609: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-03-13 06:08:03.914897: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Successfully created the TFRecords: /content/drive/MyDrive/Pollution/train.record

In [ ]:
!python /content/drive/MyDrive/Pollution/1.py --csv_input=/content/drive/MyDrive/Pollution/test.csv \
  --image_dir=/content/data/images/images \
  --output_path=/content/drive/MyDrive/Pollution/test.record

2023-03-13 06:08:29.356489: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib/python3.9/dist-packages/cv2/../../lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-13 06:08:29.356691: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib/python3.9/dist-packages/cv2/../../lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-13 06:08:29.356720: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-03-13 06:08:32.847723: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Successfully created the TFRecords: /content/drive/MyDrive/Pollution/test.record